
<% include partials/navbar.ejs %>

  <!-- Form Name -->
  <h2>Edit article</h2>

    <form action="<%= `home/${article.id}/edit?_method=PUT` %>" method="post" class="edit-form">

      <!-- Edit Name/Source -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Update Source</label>
        <div class="col-md-4">
        <input id="name" name="name" value="<%=article.name%>" type="text" class="form-control input-md">

        </div>
      </div>

      <!-- Edit Author -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="author">Update Author</label>
        <div class="col-md-4">
        <input id="author" name="author" value="<%=article.author%>" type="text" class="form-control input-md">

        </div>
      </div>

      <!-- Edit Title -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="title">Update Title</label>
        <div class="col-md-4">
        <input id="title" name="title" value="<%=article.title%>" type="text" class="form-control input-md">

        </div>
      </div>

      <!-- Edit Description -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Update description</label>
        <div class="col-md-4">
        <input id="description"  value="<%=article.description%>" name="description" type="text" class="form-control input-md">

        </div>
      </div>

      <!-- Edit url -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="content">Update url</label>
        <div class="col-md-4">
        <input id="url" name="url" value="<%=article.url%>" type="text" class="form-control input-md">

        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-success">Submit</button>
        </div>
      </div>


      </fieldset>
    </form>

<% include partials/footer.ejs %>
