


<% include partials/navbar.ejs %>

<body>

      <style>

        h3, p {
          padding: 5px 0 0 50px;
        }

        .user-block {
          background-color: pink;
          padding: 10px 0px 10px 0;
        }



      </style>

<div class="user-block">
  <% userArticles.forEach((allUserArts) => {%>


    <h3><strong><%= allUserArts.title %></strong></h3>

      <p>  <strong> <%= allUserArts.name %> </strong>
          <br>
            By: <%= allUserArts.author %>
          <br>
              <%= allUserArts.description %>

            <i><%= allUserArts.url %></i>
          <br>
            <%= allUserArts.publishedAt %> </p>

    <%})%>

</div>


<div class="api-block">
  <% apiArticles.forEach((everyAPIArticle) => {%>


    <h3><strong><%= everyAPIArticle.title %></strong></h3>

        <p> <strong> <%= everyAPIArticle.source.name %> </strong>
          <br>
            <strong>By:</strong> <%= everyAPIArticle.author %>
          <br>
         <%= everyAPIArticle.description %>
          <br>
          <i>  <%= everyAPIArticle.url %> </i>
          <br>
            <%= everyAPIArticle.publishedAt %> </p>

    <%})%>

</div>

</body>

  <% include partials/footer.ejs %>

<!-- footer icons -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>



<!-- Edit Button -->
<!-- <div class="form-group">
<label class="col-md-4 control-label" form="edit"></label>
<div class="col-md-4">
<button id="edit" name="edit" class="btn btn-success"> <a href="/home/:id/edit">Edit Article</a></br></br></button>
</div>
</div> -->
