<% include partials/navbar.ejs %>

<body>

      <style>

        h3, h4, p {
          padding-left: 50px;
        }

        .user-block {
          background-color: pink;
          padding: 10px 0px 10px 0;
          margin: 0 auto;
        }

        .form-edit, .form-delete {
          padding-left: 50px;
          padding-top: 10px;
        }

      </style>

  <h3><strong><%= article.title %></strong></h3>

      <h4> <strong> <%= article.source %> </strong> </h4>
    <p> <br>
          <strong>By:</strong> <%= article.author %>
        <br>
       "<%= article.description %>"
        <br>
          <i><%= article.url %></i>
    </p>

    <!-- Edit Button -->
    <div class="form-edit">
      <label class="col-md-4 control-label" for="edit"></label>
      <div class="col-md-4">
    <button id="edit" name="edit" class="btn btn-success"><a href="/home/<%=article.id%>/edit">Edit Article</button>
      </div>
    </div>

  <!-- Delete -->
  <div class="form-delete">
    <form action="/home/<%=article.id%>?_method=DELETE"
      method="POST">
      <button type="submit">Remove this article?</button>
    </form>
  </div>



</body>
