<% include partials/navbar.ejs %>

<body>

  <h3><strong><%= article.title %></strong></h3>

      <h4> <strong> <%= article.source %> </strong> </h4>
        <br>
          <%= article.author %>
        <br>
      <p> <%= article.description %> </p>
        <br>
          <%= article.url %>
        <br>
          <%= article.publishedAt %>

    <!-- Edit Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="edit"></label>
      <div class="col-md-4">
    <button id="edit" name="edit" class="btn btn-success"><a href="/home/:id/edit">Edit Article</button>
      </div>
    </div>

  <!-- Delete -->
    <form action="/home/<%=article.id%>?_method=DELETE"
      method="POST">
      <button type="submit">Remove this article?</button>
    </form>



</body>
